html,body{
    width:100%;
    height:100%;
    background: #FEFFFF;
}

#cover{
    position: absolute;
    left: 0;
    top: 5%;
    background:rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

#top-bar{
    background: #4BD2CD;
    height: 5%;
    min-height: 2.5rem;
}

#top-bar .fas, #top-bar .far{
    color:#FFF;
}

#addon-wrapping .fas{
    color:#525e75 !important;
}

.fas, .far{
    color:#525e75;
}

.fa-html5{
    color: #000;
    font-size: 5rem;
}

.container-fluid{
    width: 100%;
    height:100%;
}


.hide{
    display: none !important;
}



table{
    width: 100%;
    height: 85%;
}

#home-logo{
    padding-left: 50%;
}
#home-surf{
    text-align: center;
    background: #616882;
    vertical-align: middle;
}
#home-coach{
    text-align: center;
    background: #2b4e5f;
    vertical-align: middle;
}
#home-browse{
    text-align: center;
    background: #4aa2ab;
    vertical-align: middle;
}
#home-course{
    text-align: center;
    background: #323334;
    vertical-align: middle;
}

#sort-method{
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

/* Media Queries for Responsive */
@media(max-width: 376px){
    .result-title, #search-bar{
        max-width: 78%;
    }    
}
